<h1>Listing rental_records</h1>

<table class="table table-condensed">
  <tr>
    <th>Email</th>
    <th>Renter</th>
    <th>End</th>
    <th>Device</th>
    <th>Total time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rental_records.each do |rental_record| %>
  <tr>
    <td><%= rental_record.email %></td>
    <td><%= rental_record.renter %></td>
    <td><%= rental_record.end %></td>
    <td><%= rental_record.device_id %></td>
    <td><%= rental_record.total_time %></td>
    <td><%= link_to 'Show', rental_record, :class => 'btn btn-primary' %></td>
    <td><%= link_to 'Edit', edit_rental_record_path(rental_record), :class => 'btn btn-default' %></td>
    <td><%= link_to 'Destroy', rental_record, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rental record', new_rental_record_path %>
