<h1>Devices</h1>
<table class="table table-condensed">
  <tr>
    <th>Device</th>
    <th>Device type</th>
    <th>Rented to</th>
    <th>Available After</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @devices.each do |device| %>
  <tr>
    <td><%= device.device_id %></td>
    <td><%= device.device_type %></td>
    <% latest_rental = device.rentals.sort_by{|rental| rental.end}.last %>
    <% rental_empty = device.rentals.empty? %>
    <td><%= (rental_empty ? "": (mail_to latest_rental.email)) %></td>
    <td><%= (rental_empty ? "": latest_rental.end) %> </td>
    <td><%= link_to 'Show', device %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Device', new_device_path, :class => "btn btn-primary" %>
