<h1>Devices</h1>
  <% if flash[:notice] -%>
    <p class='notice'><%=h flash[:notice] %></p>
  <% end -%>
<table class="table table-condensed">
  <tr>
    <th>Device</th>
    <th>Device type</th>
    <th>Rented to</th>
    <th>Available After</th>
    <th></th>
  </tr>

<% @devices.each do |device| %>
  <tr>
    <td><%= device.device_id %></td>
    <td><%= device.device_type %></td>
    <% latest_rental = device.rental %>
    <% rental_empty = device.rental.nil? %>
    <td><%= (rental_empty ? "n/a": (mail_to latest_rental.email)) %></td>
    <td><%= (rental_empty ? "Currently Available": latest_rental.end) %> </td>
    <td>
    <% if(rental_empty) %>
      <%= link_to 'Rent Device', {:controller => "rentals", :action => "new", :device_id => device.device_id}, :class => "btn btn-inverse btn-small" %>
    <% else %>
      <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          Return Device
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <input type="text" placeholder="Enter Return Code Here"/>
          <%= link_to 'Return Device', latest_rental, method: :delete, :class => "btn btn-success btn-small checkReturn" %>
        </ul>
      </div>
    <% end %>
    </td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'New Device', new_device_path, :class => "btn btn-primary" %>
<script type="text/javascript">
//<![CDATA[
  $(".checkReturn").on('click', function(e){
    var CODE = "password";
    fname = $(this).siblings("input").val();
    if(CODE != fname){
      e.preventDefault();
      alert("Incorrect code given - please check the code posted in the D-Shop")
    }

  })
//]]>
</script>
