<h1>Devices</h1>
  <% if flash[:notice] -%>
    <p class='notice'><%=h flash[:notice] %></p>
  <% end -%>
<table class="table table-condensed">
  <tr>
    <th>Device</th>
    <th>Device type</th>
    <th>Rented to</th>
    <th>Available After</th>
    <th></th>
  </tr>

<% @devices.each do |device| %>
  <tr>
    <td><%= device.device_id %></td>
    <td><%= device.device_type %></td>
    <% latest_rental = device.rental %>
    <% rental_empty = device.rental.nil? %>
    <td><%= (rental_empty ? "n/a": (mail_to latest_rental.email)) %></td>
    <td><%= (rental_empty ? "Currently Available": latest_rental.end) %> </td>
    <td>
    <% if(rental_empty) %>
      <%= link_to 'Rent Device', {:controller => "rentals", :action => "new", :device_id => device.device_id}, :class => "btn btn-inverse btn-small" %>
    <% else %>
        <a class="btn dropdown-toggle" role="button" data-toggle="modal" href="#myModal"> Return Device </a>
    <% end %>
    </td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'New Device', new_device_path, :class => "btn btn-primary" %>
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Confirm Return</h3>
  </div>
  <div class="modal-body">
    <p>Please enter the return code located in the d.Shop</p>
    <input id="return" type="text" placeholder="Enter Return Code Here"/>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <%= link_to 'Return Device', latest_rental, method: :delete, :class => "btn btn-success btn-small checkReturn" %>
  </div>
</div>
<script type="text/javascript">
//<![CDATA[
  $(".checkReturn").on('click', function(e){
    var CODE = "password";
    fname = $("#return").val();
    if(CODE != fname){
      e.preventDefault();
      alert("Incorrect code given - please check the code posted in the D-Shop")
    }

  })
//]]>
</script>
