<div class="container">
	<div class="row">
<p id="notice"><%= notice %></p>
<p>
  <b>Name:</b>
  <%= @rental.renter %>
</p>
<p>
  <b>Email:</b>
  <%= @rental.email %>
</p>

<p>
  <b>End:</b>
  <%= @rental.end %>
</p>

<p>
  <b>Device:</b>
  <%= @rental.device_id %>
</p>



<%= link_to 'Back to Devices', devices_path, :class => "btn btn-info" %>
</div>
</div>
